body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
}

button {
  background-color: lightblue;
  color: black;
  padding: 15px;
  width: 180px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}